#embed body,
#embed html {
    height: 100%;
}

#embed body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: #222;
    font-size: 14px;
    line-height: 160%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

#embed p {
    margin: 16px 0;
    line-height: 165%;
}
#embed .container {
    width: 100% !important;
    max-width: 800px !important;
}

#interactive a {
    color: #428bca;
    text-decoration: none;
}

#interactive a:hover,
#interactive a:focus {
    color: #2a6496;
    text-decoration: none;
}


#interactive h1,
#interactive h2,
#interactive h3,
#interactive h4,
#interactive h5,
#interactive h6 {
    color: #002135;
    display: block;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 20px 0px 0px;
    margin: 0;
    text-transform: uppercase;
    line-height: 110%;
}

#interactive h2 {
    font-size: 26px;
}

#interactive .h1,
#interactive h1 {
    font-size: 28px;
}

#interactive h1.normal,
#interactive h2.normal,
#interactive h3.normal,
#interactive h4.normal,
#interactive h5.normal,
#interactive h6.normal {
    letter-spacing: 0px;
    text-transform: capitalize;
}


#interactive .chart {
    height: 1200px;
    width: 100%;
}

#interactive svg {
    shape-rendering: crispEdges;
}

#interactive .bar-to {
    fill: #0b62cd;
}

#interactive .label {
    font-family: 'Oswald', Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-size: 12px;
    fill: #002135;
    color: #717b6a;
}
#interactive .percent-label {
    font-family: 'Oswald', Helvetica, sans-serif;
    letter-spacing: 0.5px;
    font-size: 11px;
    fill: #002135;
    color: #717b6a;
}
#interactive .axis path {
    fill: none;
}

#interactive .axis .tick line {
    stroke-width: 1;
    stroke: #e4e4e4;
}

#interactive .tick text {
    fill: #1d1d1d;
    font-size: 11px;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-weight: normal;
}

#interactive .title {
    display: block;
    float: left;
    clear: both;
    text-transform: uppercase;
    position: relative;
    padding: 8px 10px;
    margin: 10px 0px 5px;
}
#interactive .table {
    display: table;
    width: 100%;
}
#interactive .cell {
    display: table-cell;
    vertical-align: bottom;
}
#interactive .cell:first-child {
    padding-right: 15px;
}
#interactive .cell:last-child {
    padding-left: 15px;
}
#interactive .title h4 {
    margin: 0px !important;
    padding: 0px;
    color: #fff;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: table-cell;
    vertical-align: middle;
}


#interactive .to-title {
    background-color: #ff3c40;
    background: url(../images/str4.png) repeat center center;
}

#interactive .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto;
    clear: both;
    display: block;
    float: left;
}

#interactive .btn-info {
    border-radius: 0px;
    background: #cccccc;
    color:#232323;
    font-family: 'Oswald', Helvetica, sans-serif;
    text-shadow: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 8px 40px 8px 20px;
    text-transform: uppercase;
    border: 1px solid #c1c1c1 !important;
    border-radius: 6px !important;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    margin-top: -3px;
    vertical-align: middle;
    border-top: 7px dashed;
    border-top: 7px solid\9;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
#interactive .btn-group.bootstrap-select {
    display: block;
    position: relative;
}

#interactive .btn-info.active,
#interactive .btn-info:active,
#interactive .open>.dropdown-toggle.btn-info {
     background: #cccccc !important;
    border: none;
}

#interactive .btn-info:hover,
#interactive .btn-info:focus,
#interactive .btn-info:active {
    background: #cccccc !important;
    border: none;
}

#interactive .state-container {
    position: relative;
    width: auto;
    display: table;
    margin: auto;
    text-align: center;
    padding: 15px 0px 8px;
}
#interactive .select-title, #interactive .state-select {
    display: block;
    width: auto;
    margin: auto;
    text-align: auto;
}


#interactive .title-table {
    display: table;
}

#interactive .name-container {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Oswald', Helvetica, sans-serif;
    letter-spacing: 1px;
    padding-left: 10px;
    font-size: 14px;
    padding-top: 4px;
    text-transform: uppercase;
    font-weight: 400;
}

#interactive .subtitle {
    text-align: center;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 4px;
    font-weight: 400;
}

#interactive .canvas-container {
    padding-top: 10px;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    font-size: 13px;
    background: #00538b;
    margin-top: 5px;
    color: #fff;
    border-radius: 0px;
}

.d3-tip:after {
    display: none;
    content: " ";
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

#interactive .col-sm-6 {
    width: 50% !important;
    float: left;
}

#interactive .dropdown-menu.open {
    border-radius: 0px;
    border: 0px;
    padding: 0px;
}
#interactive .dropdown-menu.open .dropdown-menu.inner {
    background: #00538b;
}

#interactive .dropdown-menu li:nth-child(even) {
    background: #003c74;
}
#interactive .dropdown-menu>li:hover {
    background: #006c99;
}

#interactive .dropdown-menu>li>a {
    font-family: 'Oswald', Helvetica, sans-serif;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #002852;
}
#interactive .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-image:none;
    background: transparent !important;
}
#interactive .dropdown-menu>li:hover>a, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #fff;
    text-shadow: 1px 1px 1px #002852;
}
#interactive .dropdown-menu ul > li span {
    font-weight: 400;
}

#interactive .bootstrap-select>.dropdown-toggle {
    width: 100%;
    padding-right: 35px;
}

#interactive .select-title {
    padding-bottom: 10px;
}
#interactive .subheader {
    padding: 15px 0px 5px;
    font-family: 'Oswald', Helvetica, sans-serif;
    letter-spacing: 0px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #727b6b;
    font-size: 28px;
}

#interactive .header {
    text-align: center;
    font-family: 'Oswald', Helvetica, sans-serif;
    letter-spacing: 0px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    line-height: 120%;
}
#interactive .header_hr {
    padding-top: 15px;
}
#interactive .header_hr img {
    max-width: 100%;
}
#embed {
    background-image: url(../images/greenwall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#container_to {
    padding-bottom: 10px;
}

.wrapper {
    height: 900px;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (max-width: 710px) {
    #interactive .title h4 {
        font-size: 15px;
    }
    #interactive .name-container {
        padding-left: 10px;
        font-size: 15px;
        padding-top: 0px;
    }
    #interactive .subtitle {
        font-size: 15px;
        padding-top: 4px;
    }
}

@media (max-width: 700px) {
    #interactive h1 {
        font-size: 25px;
    }
    #interactive .state-container {
        padding: 18px 0px;
    }
    #interactive .select-title {
        font-size: 20px;
        padding-right: 10px;
    }
    #interactive .btn-info {
        font-size: 20px;
        letter-spacing: 1px;
        padding: 6px 12px;
    }
    #interactive .title-table {
        display: block;
    }
    #interactive .title h4 {
        font-size: 17px;
    }
    #interactive .title {
        display: table;
        width: auto;
        margin: auto;
        display: table;
        margin: auto;
        text-align: center;
        float: none;
        clear: both;
    }
    #interactive .name-container {
        padding-left: 0px;
        font-size: 17px;
        padding-top: 0px;
        display: block;
        text-align: center;
        width: 100%;
        float: none;
         clear: both;
         margin-top: 6px;
    }
    #interactive .subtitle {
        font-size: 16px;
        padding-top: 4px;
        font-weight: 700;
    }
   .d3-tip {
        padding: 8px;
        font-size: 11px;
    }
    #interactive .label {
        letter-spacing: 1px;
        font-size: 11px;
        color: #717b6a;
    }
}
@media (max-width: 550px) {
    #interactive h1 {
        font-size: 24px;
    }
    #interactive .select-title {
        font-size: 17px;
    }
    #interactive .btn-info {
        font-size: 17px;
    }
    #interactive .title h4 {
        font-size: 15px;
    }
    #interactive .name-container {
        font-size: 15px;
         margin-top: 6px;
    }
    #interactive .subtitle {
        font-size: 14px;
        padding-top: 2px;
    }
}

@media (max-width: 500px) {
    #interactive h1 {
        font-size: 20px;
    }
    #interactive .state-container {
        padding: 18px 0px;
    }
    #interactive .select-title {
        font-size: 16px;
        padding-right: 10px;
    }
    #interactive .btn-info {
        font-size: 15px;
        letter-spacing: 1px;
        padding: 5px 10px;
    }
    #interactive .title h4 {
        font-size: 14px;
    }
    #interactive .title {
        display: table;
        width: auto;
        margin: auto;
        display: table;
        margin: auto;
        text-align: center;
        float: none;
        clear: both;
    }
    #interactive .name-container {
        font-size: 14px;
        padding-top: 0px;
        display: block;
        text-align: center;
        width: 100%;
        float: none;
         clear: both;
         margin-top: 4px;
    }
    #interactive .subtitle {
        font-size: 13px;
        padding-top: 1px;
        font-weight: 700;
    }
    .d3-tip {
        padding: 8px;
        font-size: 11px;
        max-width: 100%;
    }
    #interactive .label {
        letter-spacing: 1px;
        font-size: 10px;
        color: #717b6a;
    }
}

@media (max-width: 360px) {
    #interactive .title h4 {
        font-size: 11px;
        letter-spacing: 0px;
    }
    #interactive .subtitle {
        font-size: 10px;
            line-height: 120%;
    }
    #interactive .title {
        padding: 6px 7px;
    }
    #interactive .name-container {
    font-size: 11px;
    margin-top: 2px;
    }
    #interactive h1 {
        font-size: 16px;
    }
    #interactive .btn-info {
        font-weight: normal;
        font-size: 13px;
    }
    #interactive .select-title {
        font-size: 12px;
        padding-right: 8px;
    }
    #interactive  > .row:last-child {
        margin-right: -6px;
        margin-left: -6px;
    }
    #interactive  > .row > .col-sm-6 {
            padding-right: 6px;
        padding-left: 6px;
    }
    #interactive .label {
        letter-spacing: 1px;
        font-size: 9px;
        color: #717b6a;
    }
}
@media (max-width: 235px) {
    #interactive .title {
    padding: 6px 7px;
    min-height: 55px;
}
#interactive .select-title,  #interactive .state-select {
    display: block;
    }
   
}

.label {
    fill: #3a3a3a;
}
.bar-to:nth-child(1) {
    fill: #3300FF;
}

.bar-to:nth-child(2) {
    fill: #0d47a1;
}
.bar-to:nth-child(3) {
    fill: #1565c0;
}
.bar-to:nth-child(4) {
    fill: #1976d2;
}
.bar-to:nth-child(5) {
    fill: #1e88e5;
}
.bar-to:nth-child(6) {
    fill: #2196f3;
}
.bar-to:nth-child(7) {
    fill: #42a5f5;
}
.bar-to:nth-child(8) {
    fill: #3309FF;
}

.bar-to:nth-child(9) {
    fill: #3313FF;
}

.bar-to:nth-child(10) {
    fill: #331CFF;
}

.bar-to:nth-child(11) {
    fill: #3325FF;
}
.bar-to:nth-child(12) {
    fill: #332EFF;
}
.bar-to:nth-child(13) {
    fill: #3338FF;
}
.bar-to:nth-child(14) {
    fill: #3341FF;
}

.bar-to:nth-child(15) {
    fill: #334AFF;
}

.bar-to:nth-child(16) {
    fill: #3353FF;
}

.bar-to:nth-child(17) {
    fill: #335DFF;
}
.bar-to:nth-child(18) {
    fill: #3366FF;
}
.bar-to:nth-child(19) {
    fill: #336BFF;
}
.bar-to:nth-child(20) {
    fill: #336FFF;
}
.bar-to:nth-child(21) {
    fill: #3374FF;
}

.bar-to:nth-child(22) {
    fill: #3379FF;
}

.bar-to:nth-child(23) {
    fill: #337DFF;
}

.bar-to:nth-child(24) {
    fill: #3382FF;
}

.bar-to:nth-child(25) {
    fill: #3386FF;
}
.bar-to:nth-child(26) {
    fill: #338BFF;
}
.bar-to:nth-child(27) {
    fill: #3390FF;
}
.bar-to:nth-child(28) {
    fill: #3394FF;
}
.bar-to:nth-child(29) {
    fill: #3399FF;
}

.bar-to:nth-child(30) {
    fill: #3899FF;
}

.bar-to:nth-child(31) {
    fill: #3C99FF;
}

.bar-to:nth-child(32) {
    fill: #4199FF;
}
.bar-to:nth-child(33) {
    fill: #4699FF;
}
.bar-to:nth-child(34) {
    fill: #4A99FF;
}
.bar-to:nth-child(35) {
    fill: #4F99FF;
}

.bar-to:nth-child(36) {
    fill: #5399FF;
}

.bar-to:nth-child(37) {
    fill: #5899FF;
}

.bar-to:nth-child(38) {
    fill: #5D99FF;
}

.bar-to:nth-child(39) {
    fill: #6199FF;
}

.bar-to:nth-child(40) {
    fill: #6699FF;
}
.bar-to:nth-child(41) {
    fill: #66A2FF;
}
.bar-to:nth-child(42) {
    fill: #66ACFF;
}

.bar-to:nth-child(43) {
    fill: #66B5FF;
}

.bar-to:nth-child(44) {
    fill: #66BEFF;
}

.bar-to:nth-child(45) {
    fill: #66C7FF;
}

.bar-to:nth-child(46) {
    fill: #66D1FF;
}
.bar-to:nth-child(47) {
    fill: #66DAFF;
}
.bar-to:nth-child(48) {
    fill: #66E3FF;
}
.bar-to:nth-child(49) {
    fill: #66ECFF;
}

.bar-to:nth-child(50) {
    fill: #66F6FF;
}
